{% extends 'blog/base.html' %}
{% block main %}
        <article>
            <h2>{{object.title}}</h2>
            <div>{{object.author}}</div>
            <div>{{object.publish}}</div>
            <p>{{object.content}}</p>
        </article>
{% endblock %}
