{% extends 'blog/base.html' %}
{% block main %}
    {% for article in object_list %}
        <article>
            <h2>{{article.title}}</h2>
            <div>{{article.author}}</div>
            <div>{{article.publish}}</div>
            <p>{{article.content}}</p>
        </article>
        <hr>

    {% empty %}
    {% endfor %}
{% endblock %}
